.checkout-form .form-group input {
  border-radius: 0.8rem;
  border-color: #bdbdbd;
}

.form-control {
    border-radius: 0.8rem;
    border-color: #bdbdbd;
}

.btn-main {
    border-radius: 0.8rem;

}

.btn {
    border-radius: 0.8rem;

}


